# "My Jupyter Notebook on IBM Watson Studio"

**Magdalena Falasca** 
Hotel Manager

*I use data as part of my current job in order to make operational improvements.  I am interested in data science as it will help me more efficiently problem solve and improve my organisation.*

### The goal of my code in the next cell (Cell 5) is to solve a basic multiplication function.

In [6]:
7*8

56

> Block quotes sample test. 
> See below for long quote from Lord of the Rings.  

Quote break. 

> All that is gold does not glitter.  Not all those who wander are lost. The old that is strong does not wither.  Deep roots are not reached by the frost.  From the ashes a fire shall be woken, a light from the shadows shall spring.  Renewed shall be blade that was broken.  The crownless again shall be king.

1. Ordered list row one 
2. Ordered list row two 
    1. Ordered sublist one 

Horizontal rule below showing favourite places to travel...

---

Venice, Italy

*** 

Oxford, England, UK 

___ 

Alaska, United States 

Test | Table | One 
--- | --- | --- | 
Col 1 is | **Apples** | 24 
|       |                | 
Col 2 is | **Pears** | 72 
|            |          | 
Col 3 is | **Oranges** | 97